API_ID=
API_HASH=

USE_REF=
REF_ID=
PERCENT_OF_REFERRALS_FOR_CREATORS_OF_THE_SOFT=

USE_RANDOM_DELAY_IN_RUN=
RANDOM_DELAY_IN_RUN=

SLEEP_TIME_IN_MINUTES=

ENABLE_AUTO_TASKS=
ENABLE_AUTO_DRAW=
ENABLE_JOIN_TG_CHANNELS=
ENABLE_CLAIM_REWARD=
ENABLE_AUTO_UPGRADE=

ENABLE_AUTO_JOIN_TO_SQUAD_CHANNEL=
ENABLE_AUTO_JOIN_TO_SQUAD=
SQUAD_SLUG=

DISABLE_IN_NIGHT=
NIGHT_TIME=

DRAW_RANDOM_X_DIAPOSON=[0,100]
DRAW_RANDOM_Y_DIAPOSON=[0,100]
DRAW_RANDOM_COLORS=["#3690ea", "#ffd635"]

ENABLE_SSL=False

PAINT_REWARD_MAX=5
ENERGY_LIMIT_MAX=5
RE_CHARGE_SPEED_MAX=5

BOOSTS_BLACK_LIST=
TASKS_TODO_LIST=

USE_PROXY_FROM_FILE=

